body{
    background-image:url(happy.jpeg);
    background-size: cover;
}

.heading{
    display: flex;
    justify-content: center;
}

h1{
    color: #45474B;
    background-color:#FBF9F1 ;
    font-size: 60px;
    padding: 35px;
    font-family: 'Playfair Display', serif;
    border-radius: 47%;
    font-family: "Molle", cursive;
    
}

h4{
    font-size: 50px;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h3{
    color: #45474B;
    background-color: #F8F0E5;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}

.position{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block{
    background-color: #F8F0E5;
    height: 300px;
    width: 200px;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 25%;
}

.days, .hours, .minutes, .seconds {
    font-family: 'Playfair Display', serif;
    font-size:40px;
    color:#45474B;
}
button{
    margin-left: 100px;
    border: none;
    border-radius: 23%;
}

.newYear{
    color: #BB2525;
}

.content {
  max-width: 70%;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media all and (max-width:800px){
    h1{
        font-size:30px;
    }
}

@media all and (max-width:500px){
    h1{
        font-size:30px;
    }
}

